<div
  class="jt-editor"
  ng-click="inputService.focusInput()" >
  <span
    ng-repeat="tag in tagsCollection.tags | toArray | orderBy:'tagClass'"
    ng-switch="tagsCollection.isTagEdited(tag)">
    <span
      ng-switch-when="false"
      class="jt-tag active-{{tagsCollection.isTagActive(tag)}} {{tagClass}}">
      <span
        class="value"
        ng-click="tagsInputService.tagClicked(tag)"
        ng-dblclick="tagsInputService.tagDblClicked(tag)">
        {{tag.value}}
      </span>
      <span class="remove-button" ng-click="tagsCollection.removeTag(tag.id)">{{options.texts.removeSymbol}}</span>
    </span>
    <span
      ng-switch-when="true">
      <input
        type="text"
        class="jt-tag-edit"
        focus-once
        ng-model="tag.value"
        data-tag-id="{{tag.id}}"
        ng-keydown="inputService.tagInputKeydown(tagsCollection, {$event: $event})"
        placeholder="{{options.texts.inputPlaceHolder}}"
        auto-grow
        />
    </span>
  </span>
</div>
